.App {
  text-align: center;
}

.item{
  background-color: rgb(230, 230, 230);
  width: 20%;
}

.item-image{
  width: 80%;
}

h1, h2, h3{
  margin: 0;
}

h1{
  font-size: 2.5vmin;
}

2{
  font-size: 2.5vmin;
}

h3{
  font-size: 2.5vmin;
}

