.App {
  text-align: center;
}

.item{
  background-color: rgb(243, 243, 243);
  width: 20%;
  margin: 1%;
  display: inline-block;
}

.item-image{
  width: 80%;
  margin: 5%;
}

h1, h2, h3{
  margin: 1vmin;
}

h1{
  font-size: 2vmin;
  font-weight: 700;
}

h2{
  font-size: 3vmin;
  font-weight: 700;
}

h3{
  font-size: 2vmin;
  font-weight: 500;
}

