.App {
  text-align: center;
}

.header{
  position: relative;
  font-size: 5vmin;
  text-align: left;
  margin: 2vmin;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.item{
  background-color: rgb(243, 243, 243);
  width: 20%;
  margin: 0.5%;
  display: inline-block;
  transition: 0.3s;
}

.item:hover{
  box-shadow: 0px 0px 10px rgb(148, 148, 148);
  transition: 0.3s;
}

.item-image{
  width: 80%;
  margin: 5%;
}

.add-to-cart{
  float: right;
  line-height: 4vmin;
  height: 4vmin;
  background-color: rgb(255, 166, 0);
  padding: 0.5vmin;
  font-weight: 700;
  margin: 1vmin;
}

.cart{
  width: 3vmin;
}

h1, h2, h3{
  margin: 1vmin;
}

h1{
  font-size: 2vmin;
  font-weight: 700;
}

h2{
  font-size: 3vmin;
  font-weight: 700;
  color: red;
}

h3{
  font-size: 2vmin;
  font-weight: 500;
}

