body{
  background-color: rgb(255, 255, 255);
}

.App {
  position: relative;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-header{
  position: relative;
  font-size: 3vmin;
  font-weight: 900;
  text-align: left;
  height: 12vmin;
  margin: 0;
  padding-left: 2vmin;
  line-height: 12vmin;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(241, 241, 241);
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 2px rgb(202, 202, 202);
}


.header{
  position: relative;
  margin-left: 2vmin;
  font-size: 4vmin;
  text-align: left;
  border-bottom: 1px solid rgb(201, 201, 201);
}

.item{
  background-color: rgb(243, 243, 243);
  width: 20%;
  margin: 0.5%;
  display: inline-block;
  transition: 0.3s;
}

.item:hover{
  box-shadow: 0px 4px 12px rgb(129, 129, 129);
  transition: 0.3s;
}

.item-image{
  width: 80%;
  margin: 5%;
  border-radius: 2vmin;
}

.add-to-cart{
  position: relative;
  width: 40%;
  left: 30%;
  line-height: 3vmin;
  height: 3vmin;
  background-color: rgb(255, 196, 0);
  padding: 1vmin;
  font-weight: 700;
  border-radius: 3vmin;
  transition: 1s;
}

.cart{
  height: 2vmin;
}

h1, h2, h3{
  margin: 1vmin;
}

h1{
  font-size: 2vmin;
  font-weight: 500;
}

h2{
  font-size: 2.5vmin;
  font-weight: 700;
  color: red;
}

h3{
  font-size: 2vmin;
  font-weight: 500;
  color: rgb(0, 160, 0);
}

.bar{
  position: relative;
  width: 95%;
  left: 2.5%;
  height: 300px;
  margin-top: 4vmin;
  margin-bottom: 4vmin;
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
  background-color: rgb(241, 241, 241);
  box-shadow: 2px 2px 2px rgb(202, 202, 202);
  font-size: 4vmin;
  background-image: url("bar.jpg");
  background-size: cover;
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius: 2vmin;
}

.bar-text{
  font-weight: 500;
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255)) drop-shadow(0px 0px 3px rgb(255, 255, 255)) drop-shadow(0px 0px 30px rgb(255, 255, 255)) drop-shadow(0px 0px 30px rgb(255, 255, 255));
}

.button{
  margin: 0.5vmin;
  padding: 2.5vmin;
  background-color: rgb(241, 241, 241);
  border: 0px solid gray;
  border-radius: 3vmin;
  font-size: 2vmin;
  font-weight: 500;
  transition: 0.3s;
}

.button:hover{
  box-shadow: 0px 2px 5px rgb(129, 129, 129);
  transition: 0.3s;
}

.button:focus{
  outline: 0;
}

@media only screen and (max-width: 1024px) {
  .item{
    background-color: rgb(243, 243, 243);
    width: 30%;
  }
}

@media only screen and (max-width: 700px) {
  .item{
    background-color: rgb(243, 243, 243);
    width: 45%;
  }
}