body{
  background-color: rgb(255, 255, 255);
}

.App {
  position: relative;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-header{
  position: relative;
  font-size: 4vmin;
  font-weight: 900;
  text-align: left;
  height: 12vmin;
  margin: 0;
  padding-left: 9vmin;
  line-height: 12vmin;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(45deg, rgba(0, 184, 153, 0.6),rgba(0, 255, 0, 0.6), rgba(0, 198, 0, 0.6));
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px rgb(202, 202, 202);
}

.main-header-text{
  filter: drop-shadow(0px 0px 5px rgb(0, 255, 13)) drop-shadow(0px 0px 5px rgb(0, 255, 13));
}

.header{
  position: relative;
  margin-top: 6vmin;
  padding-top: 2vmin;
  margin-left: 9vmin;
  font-size: 4vmin;
  text-align: left;
  border-top: 1px solid rgb(201, 201, 201);
}

.item{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 12px rgb(230, 230, 230);
  width: 20%;
  margin: 0.5%;
  display: inline-block;
  transition: 0.3s;
}

.item:hover{
  outline: 2px solid rgb(0, 255, 0);
  box-shadow: 0px 4px 12px rgb(129, 129, 129);
  transition: 0.3s;
}

.item-image{
  width: 80%;
  margin: 5%;
  border-radius: 2vmin;
}

.add-to-cart{
  position: relative;
  width: 40%;
  left: 30%;
  line-height: 3vmin;
  height: 3vmin;
  background-color: rgb(43, 236, 117);
  padding: 1vmin;
  margin-bottom: 1vmin;
  font-weight: 700;
  border-radius: 3vmin;
  transition: 1s;
}

.cart{
  height: 2vmin;
}

h1, h2, h3{
  margin: 1vmin;
}

h1{
  font-size: 2vmin;
  font-weight: 500;
}

h2{
  font-size: 2.5vmin;
  font-weight: 700;
  color: red;
}

h3{
  font-size: 2vmin;
  font-weight: 500;
  color: rgb(0, 197, 0);
}

.bar{
  position: relative;
  width: 90%;
  left: 5%;
  height: 300px;
  margin-top: 4vmin;
  margin-bottom: 4vmin;
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
  background-color: rgb(241, 241, 241);
  box-shadow: 2px 2px 2px rgb(202, 202, 202);
  font-size: 4vmin;
  background-image: url("bar.jpg");
  background-size: cover;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
  border-radius: 2vmin;
}

.bar-text{
  font-weight: 500;
  color: white;
  width: 100%;
  filter: drop-shadow(0px 0px 10px rgb(0, 255, 13)) drop-shadow(0px 0px 10px rgb(0, 255, 13));
}

.bar-text-1{
  position: relative;
  width: 100%;
  filter: opacity(0);
  animation: textSlide 6s forwards;
  animation-delay: 0s;
}

.bar-text-2{
  position: relative;
  width: 100%;
  filter: opacity(0);
  animation: textSlide 6s forwards;
  animation-delay: 1s;
}

.bar-text-3{
  position: relative;
  width: 100%;
  filter: opacity(0);
  animation: textSlide 6s forwards;
  animation-delay: 2s;
}

@keyframes textSlide{
  0%{top: -50px; filter: opacity(0);}
  33%{top: 0px; filter: opacity(1);}
  100%{top: 0px; filter: opacity(1);}
}

.button-bar{
  position: relative;
  width: 100%;
  left: 0%;
}

.button{
  margin: 1.5vmin;
  padding: 2vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
  background-color: rgb(240, 240, 240);
  border: 0px solid gray;
  border-radius: 3vmin;
  font-size: 2vmin;
  font-weight: 100;
  transition: 0.3s;
}

.button:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px rgb(129, 129, 129);
  transition: 0.3s;
}

.button:focus{
  outline: 0;
}

@media only screen and (max-width: 1024px) {
  .item{
    background-color: rgb(243, 243, 243);
    width: 30%;
  }
}

@media only screen and (max-width: 700px) {
  .item{
    background-color: rgb(243, 243, 243);
    width: 45%;
  }
}