body{
  background-color: rgb(255, 255, 255);
}

.App {
  position: relative;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-header{
  position: relative;
  font-size: 4vmin;
  font-weight: 700;
  text-align: left;
  height: 10vmin;
  margin: 0;
  padding-left: 9vmin;
  line-height: 10vmin;
  background: linear-gradient(45deg, rgba(161, 0, 135, 0.6),rgba(140, 0, 255, 0.6), rgba(59, 0, 198, 0.6), rgba(109, 10, 223, 0.6), rgba(206, 25, 176, 0.6)), rgba(224, 39, 193, 0.6);
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px rgb(0, 0, 0);
}

.main-header-text{
  width: 200px;
  float: left;
  letter-spacing: 0.3vmin;
  filter: drop-shadow(3px 3px 2px black);
}


a {
  text-decoration: none;
  color: white;
  
}

.header-cart{
  position: fixed;
  width: max-content;
  line-height: 10vmin;
  color: rgb(255, 255, 255);
  font-size: 2vmin;
  background: linear-gradient(rgb(174, 0, 255), rgb(212, 0, 255));
  margin-right: 4vmin;
  padding-left: 1vmin;
  padding-right: 1vmin;
  float: right;
  right: 0%;
  z-index: 1;
  box-shadow: 5px 0px 10px rgb(0, 0, 0);
  border-bottom-left-radius: 3vmin;
  border-bottom-right-radius: 3vmin;
  cursor: pointer;
}

.basket-animation{
  animation: 1s basketAnimation;
}

.header{
  position: relative;
  margin-top: 6vmin;
  padding-top: 2vmin;
  margin-left: 7vmin;
  font-size: 6vmin;
  text-align: left;
}

.items-display{
  position: relative;
  border: 1px solid rgb(197, 197, 197);
  left: 2.5%;
  width: 95%;
  margin-bottom: 1vmin;
}

.item{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px rgb(230, 230, 230);
  outline: 2px solid rgba(0, 255, 0, 0);
  width: 20%;
  margin: 0.5%;
  display: inline-block;
  transition: 0.3s;
}

.item:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 20px rgb(129, 129, 129);
  transition: 0.3s;
}

.item-image{
  width: 80%;
  margin: 5%;
  border-radius: 2vmin;
  cursor: pointer;
}

.title{
  height: 5.5vmin;
}

.add-to-cart{
  position: relative;
  width: 40%;
  left: 30%;
  line-height: 3vmin;
  height: 3vmin;
  background-color: rgb(219, 129, 255);
  color: white;
  padding: 1vmin;
  margin-bottom: 1vmin;
  font-weight: 700;
  font-size: 2vmin;
  border-radius: 3vmin;
  transition: 0s;
  user-select: none;
  cursor: pointer;
}

.add-to-cart:hover{
  background-color: rgb(230, 168, 255);
}

.cart{
  height: 2vmin;
  filter: grayscale(1) brightness(1.5);
}

.cart-icon-medium{
  height: 4vmin;
  transform: translateY(20%);
}

h1, h2, h3{
  margin: 1vmin;
}

h1{
  font-size: 2vmin;
  font-weight: 500;
}

h2{
  font-size: 2.5vmin;
  font-weight: 700;
  color: red;
}

h3{
  font-size: 2vmin;
  font-weight: 500;
  color: rgb(0, 197, 0);
}

.bar{
  position: relative;
  width: 60%;
  height: 400px;
  margin-top: 4vmin;
  margin-bottom: 4vmin;
  margin-left: 2%;
  background-color: rgb(241, 241, 241);
  background-size: cover;
  text-align: center;
  float: left;
  transition: 2s;
  cursor: pointer;
  outline: 2px solid rgb(0, 0, 0);
}

.bar-container{
  position: relative;
  height: 460px;
  width: 95%;
  left: 2.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgb(136, 61, 155);
  box-shadow: 0px 10px 25px rgb(117, 117, 117);
}

.bar-slider{
  position: relative;
}

.slide{
  position: absolute;
  background-position: center;
}

.slide-1{
  background-image: url("bar.jpg");
}

.slide-2{
  background-image: url("bar0.jpg");

}

.slide-3{
  background-image: url("bar01.jpg");
}

.slide-4{
  background-image: url("bar02.jpg");
}

.slide-5{
  background-image: url("bar03.jpg");
}

.bar-small{
  position: relative;
  width: 100%;
  height: 190px;
  margin-bottom: 20px;
  background-color: rgb(241, 241, 241);
  font-size: 3vmin;
  background-image: url("bar.jpg");
  background-size: cover;
  background-position: 0px 0px;
  justify-content: center; 
  align-items: center;
  text-align: center;
  display: inline-block;
  transition: 2s;
  cursor: pointer;
  outline: 2px solid rgb(0, 0, 0);
}

.bar-small:hover{
  background-position: 0px -50px;
  transition: 2s;
}

.bar-small-1{
  background-image: url("bar2.jpg");

}

.bar-small-2{
  background-image: url("bar3.jpg");
}

.bar-double{
  position: relative;
  width: 35%;
  float: right;
  margin-top: 4vmin;
  margin-right: 2%;
}

.bar-text{
  position: relative;
  font-weight: 500;
  font-size: 3.5vmin;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.541);  
  top: 80%;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, -50%);
  padding: 1vmin;
}

.bar-text-small{
  position: relative;
  width: 60%;
  top: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5vmin;
}

.bar-text-large{
  top: 50%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.452);
  padding: 0;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
}

.bar-text-2-large{
  color:rgb(189, 0, 179);
  font-size: 5vmin;
  font-weight: 900;
}

.bar-text-1{
  position: relative;
  width: 100%;
}

.bar-text-2{
  position: relative;
  width: 100%;
}

.bar-text-3{
  position: relative;
  width: 100%;
}


.bar-hide{
  display: none;
}

.bar-large{
  position: relative;
  width: 100%;
  height: 400px;
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
  background-color: rgb(241, 241, 241);
  box-shadow: 2px 2px 2px rgb(202, 202, 202);
  font-size: 4vmin;
  background-size: cover;
  text-align: center;
  transition: 2s;
  cursor: pointer;
  background-image: url("bar04.jpg");
  background-position:center;
}

.newsletter-form{
  height: 5vmin;
  outline: 0;
  border: 0;
  margin: 0;
  padding-bottom: 2vmin;

}

.newsletter-input{
  height: 5vmin;
  outline: 0;
  border: 0;
  margin: 0;
  margin-top: 2vmin;
  padding: 0;
  padding-left: 4vmin; 
  padding-right: 4vmin; 
}

.newsletter-button{
  height: 5vmin;
  background-color: rgb(221, 83, 240);
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  padding-left: 2vmin; 
  padding-right: 2vmin; 
  font-size: 2vmin;
}

.button-bar{
  position: relative;
  display: inline-block;
  width: fit-content;
  margin: 1vmin;
  border: 1px solid rgb(228, 228, 228);
}

.button-category{
  margin: 1.5vmin;
  padding: 2vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
  border: 0px solid gray;
  font-size: 2.3vmin;
  font-weight: 100;
  transition: 0.3s;
  cursor: pointer;
  background-color: white;
  outline: solid 2px rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
}

.button-price-sort{
  margin: 1.5vmin;
  padding: 2vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
  border: 0px solid gray;
  font-size: 2.3vmin;
  font-weight: 100;
  transition: 0.3s;
  cursor: pointer;
  background-color: white;
  outline: solid 2px rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
}

.button-category:focus {
  outline: solid 2px rgb(211, 18, 250);
  color: rgb(211, 18, 250);
}

.button-category:hover{
  color: rgb(211, 18, 250);
  outline: solid 2px rgb(211, 18, 250);
  transition: 0.3s;
  background-size: 100% 100%;
}

#ascending{
  border-radius: 0;
}

#ascending:hover{
  background-color: rgb(91, 212, 91);
  color: white;
  outline: 0;
}

#descending{
  border-radius: 0;
}

#descending:hover{
  background-color: rgb(255, 145, 0);
  color: white;
  outline: 0;
}

.bottom-container{
  height: 200px;
  width: 100%;
  background-color: rgb(243, 243, 243);
  text-align: left;
}

.bottom-container-text{
  position: relative;
  margin-left: 80%;
  padding-top: 3%;
  font-size: 2.5vmin;
}

.category{
  display: none;
}

.description{
  display: none;
}

.product-cart{
  position: fixed;
  top: 15%;
  user-select: none;
  left: 15%;
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 80%;
  box-shadow: 0px 0px 15px rgb(134, 134, 134);
  display: none;
  border-radius: 5vmin;
  animation: 1s;
}

.cartTitle{
  font-size: 3.5vmin;
}

.cartPrice{
  font-size: 4vmin;
  color: rgb(255, 0, 0);
}

.cartPhoto{
  position: relative;
  height: 55%;
  right: 10%;
  top: 5%;
  float: right;
}

.cart-text{
  float: left;
  width: 40%;
}

.cartDescription{
  position: relative;
  left: 10%;
  width: 100%;
  top: 5%;
  text-align: justify;
  background-color: rgb(238, 238, 238);
  padding: 2vmin;
}

.cart-product-info{
  position: relative;
  width: 100%;
  left: 10%;
  top: 5%;
  border: 1px solid gray;
  margin: 2px;
  padding-left: 2vmin;
  padding-right: 2vmin;
  padding-bottom: 1vmin;
  padding-top: 1vmin;
}

.cartAddToBasket{
  position: absolute;
  bottom: 3%;
  left: 60%;
  padding: 2.5vmin;
  padding-left: 5vmin;
  padding-right: 5vmin;
  transform: translateX(-50%);
  font-size: 3vmin;
  font-weight: 500;
  outline: 0;
  border: 0;
  margin-top: 5vmin;
  box-shadow: 0px 0px 10px rgb(170, 170, 170);
  border-radius: 5vmin;
  transition: 0.3s;
  background-color: rgb(219, 129, 255);
  color: white;
  cursor: pointer;
  user-select: none;
}

.cartAddToBasket:hover{
  background-color: rgb(228, 159, 255);
  box-shadow: 0px 0px 10px rgb(61, 61, 61);
  transition: 0.3s;
}

.cartClose{
  position: absolute;
  bottom: 3%;
  left: 40%;
  padding: 2.5vmin;
  padding-left: 5vmin;
  padding-right: 5vmin;
  transform: translateX(-50%);
  font-size: 3vmin;
  font-weight: 500;
  background-color: white;
  outline: 0;
  border: 0;
  margin-top: 5vmin;
  box-shadow: 0px 0px 10px rgb(170, 170, 170);
  border-radius: 5vmin;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}

.cartClose:hover{
  box-shadow: 0px 0px 10px rgb(61, 61, 61);
  transition: 0.3s;
}

.search-product{
  position: absolute;
  top: 2.5vmin;
  left: 25%;
  width: 60%;
  height: 5vmin;
  display: inline-block;
}

.search-product input{
  padding-left: 1.5vmin;
}

::placeholder{
  position: relative;
  color: rgb(184, 184, 184);
}

.search-product-input{
  height: 5vmin;
  width: 50%;
  padding: 0;
  border: 0;
  font-size: 2vmin;
  font-weight: 300;
  outline: 0;
}

.search-product-input:focus{
  outline: 0;
}

.search-product-button{
  background-color: rgb(204, 0, 194);
  color: white;
  height: 5vmin;
  line-height: 5vmin;
  width: 15%;
  border: 0;
  outline: 0;
  font-size: 2vmin;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.search-product-button:hover{
  background-color: rgb(189, 0, 179);
}

.my-basket-cart{
  position: fixed;
  top: 15%;
  user-select: none;
  left: 15%;
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 80%;
  box-shadow: 0px 0px 15px rgb(134, 134, 134);
  border-radius: 5vmin;
  animation: 1s;
  display: none;
  z-index: 1;
}

.order-proceed{
  position: absolute;
  bottom: 3%;
  left: 62%;
  padding: 2.5vmin;
  padding-left: 5vmin;
  padding-right: 5vmin;
  transform: translateX(-50%);
  font-size: 3vmin;
  font-weight: 500;
  outline: 0;
  border: 0;
  margin-top: 5vmin;
  box-shadow: 0px 0px 10px rgb(170, 170, 170);
  border-radius: 5vmin;
  transition: 0.3s;
  background-color: rgb(203, 68, 236);
  color: white;
  cursor: pointer;
  user-select: none;
}

.basket-title{
  font-size: 6.5vmin;
  margin-bottom: 4vmin;
}

.basket-items{
  overflow-Y: scroll;
  height: 400px;
  width: 90%;
}

.basket-item{
  position: relative;
  list-style: none;
  width: 92%;
  left: 5%;
  margin: 1vmin;
  box-shadow: 0px 4px 10px rgb(230, 230, 230);
  transition: 0.3s;
}

.basket-item:hover{
  box-shadow: 0px 4px 20px rgb(129, 129, 129);
  transition: 0.3s;
}

::-webkit-scrollbar{
  width: 20px;
  background-color: gray;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(192, 192, 192);
}

::-webkit-scrollbar-track{
  background-color: white;
}

.basket-item-title{
  position: relative;
  height: 12vmin;
  line-height: 12vmin;
  bottom: 45%;
  margin-left: 2vmin;
  width: 45%;
  display: inline-block;
}

.basket-item-price{
  position: relative;
  margin-left: 7vmin;
  width: 12%;
  display: inline-block;
  font-weight: 500;
  font-size: 2.7vmin;
}

.basket-item-image{
  position: absolute;
  left: 0px;
  display: inline-block;
  height: 100%;
}

.basket-item-index{
  position: relative;
  display: inline-block;
  display: none;
}

.deleteItem{
  position: relative;
  background-color: rgb(228, 228, 228);
  border-radius: 2vmin;
  left: 10vmin;
  display: inline-block;
  width: 10%;
  height: 7vmin;
  line-height: 7vmin;
  cursor: pointer;
}

.deleteItem:hover{
  background-color: rgb(190, 190, 190);
}

.order-proceed:hover{
  box-shadow: 0px 0px 10px rgb(61, 61, 61);
  transition: 0.3s;
}

.price-filter{
  position: relative;
}

.min-price, .max-price{
  position: relative;
  margin: 1vmin;
  height: 6vmin;
  width: 16vmin;
  border-radius: 2vmin;
  border: 1px solid rgb(212, 212, 212);
  text-align: center;
  font-size: 2.5vmin;
}

.min-price:focus, .max-price:focus{
  border: 1px solid rgb(212, 212, 212);
  outline: 0;
}

.cart-icon-large{
  position: relative;
  margin-top: 5%;
  width: 25%;
}

.delivery-cart{
  position: fixed;
  top: 15%;
  user-select: none;
  left: 15%;
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 80%;
  box-shadow: 0px 0px 15px rgb(134, 134, 134);
  border-radius: 5vmin;
  animation: 1s;
  display: none;
  z-index: 1;
}

.delivery-content{
  overflow-y: scroll;
  height: 80%;
}



.delivery-title{
  position: relative;
  text-align: left;
  margin-left: 5vmin;
  margin-top: 4vmin;
  margin-bottom: 4vmin;
  font-size: 3vmin;
}

.delivery{
  text-align: left;
  width: 50%;
  margin-left: 5vmin;
}

.delivery-type{
  display: inline-block;
  border: 1px solid gray;
  padding: 1.5vmin;
  width: 95%;
  border-radius: 1vmin;
}

.delivery-form input{
  display: inline-block;
  padding: 1.7vmin;
  width: 80%;
  border-radius: 3vmin;
  border: 1px solid rgb(206, 206, 206);
  margin-bottom: 2vmin;
}

.delivery-form input:focus{
  border: 1px solid rgb(199, 199, 199);
  outline: 0;
}

.delivery-agree{
  text-align: left;
  margin-top: 2vmin;
  margin-left: 4vmin;
}

@media only screen and (max-width: 1024px) {
  .item{
    background-color: rgb(243, 243, 243);
    width: 30%;
  }
}

@media only screen and (max-width: 700px) {

  .main-header{
  padding-left: 2vmin;
  font-size: 6vmin;
  height: 12vmin;
  line-height: 12vmin;
  }

  .search-product{
    position: absolute;
    left: 10%;
    width: 80%;
    top: 1%;
    height: 8vmin;
    display: inline-block;
    z-index: 1;
  }

  .search-product-input{
    height: 8vmin;
    width: 70%;
    padding: 0;
    border: 0;
    box-shadow: 0px 0px 15px white;
    font-size: 3vmin;
    font-weight: 300;
  }
  
  .search-product-button{
    background-color: rgb(204, 0, 194);
    color: white;
    height: 8vmin;
    line-height: 8vmin;
    width: 25%;
    border: 0;
    font-size: 3vmin;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  .item{
    background-color: rgb(243, 243, 243);
    width: 45%;
  }

  .bar{
    width: 100%;
    margin-left: 0;
  }

  .bar-small{
    display: none;
  }

  .bar-slider{
    position: relative;
    margin-bottom: 100vmin;
  }

  .bar-text{
    font-size: 6vmin;
    width: 80%;
  }
  
  .button-bar{
    width: 100%;
    margin-bottom: 2vmin;
  }

  .button{
    font-size: 5vmin;
  }

  .header{
    font-size: 7vmin;
    margin-left: 2vmin;
}
}